{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'eyewear/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'eyewear/list.css' %}" />


<div align="right"><a href="http://127.0.0.1:8000/eyewear/"> items</a>
<a href="http://127.0.0.1:8000/eyewear/all_carts/">carts</a> <a href="http://127.0.0.1:8000/admin/"> admin</a></div>

<h2 style="text-align: center">{{ cart.owner }}{{ ": " }}{{ cart.name }} </h2>

    <ul class="no_indent_or_bullet">
    {% for cart_item in cart.cart_items.all %}

        <li class="fixed-size-rect">

            <img src="http://i.imgur.com/ZorDPy1.jpg" class="indent"></a>
            <span class="element1"><a href="http://127.0.0.1:8000/eyewear/{{ cart_item.item.id }}/">{{ cart_item.item.name }}</a></span>
            <span class="element2">{{ cart_item.item.description }}</span>
            <span class="element3">{{ "$" }}{{ cart_item.item.price }}</span>



        </li>

    {% endfor %}
    </ul>


